.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--8-col
  .mdl-card__media.mdl-color-text--grey-50
    h3
      a(href='https://github.com/iGitScor/crm-quiz-generator') CRM Quiz generator
  .mdl-card__supporting-text.meta.mdl-color-text--grey-600
    div
      strong Dynamic quiz generation to get user data
.mdl-card.mdl-shadow--2dp.something-else.mdl-cell.mdl-cell--8-col.mdl-cell--4-col-desktop
  a.mdl-button.mdl-js-ripple-effect.mdl-js-button.mdl-button--fab.mdl-button--primary(href='demo/')
    i.material-icons.mdl-color-text--white(role='presentation') launch
    span.visuallyhidden add
  .mdl-card__media.mdl-color--white.mdl-color-text--grey-600
    img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/Visual_Studio_Code_0.10.1_icon.png/64px-Visual_Studio_Code_0.10.1_icon.png')
    | Typescript
  .mdl-card__supporting-text.meta.meta--fill.mdl-color-text--grey-600
    div
      strong Github
    ul.mdl-menu.mdl-js-menu.mdl-menu--bottom-right.mdl-js-ripple-effect(for='menubtn')
      li.mdl-menu__item
        a.mdl-menu__item(href='https://github.com/iGitScor/crm-quiz-generator') Repository
      li.mdl-menu__item
        a.mdl-menu__item(href='https://github.com/iGitScor/crm-quiz-generator/issues') Issues
      li.mdl-menu__item
        a.mdl-menu__item(href='https://github.com/iGitScor/crm-quiz-generator/pulls') Pull requests
    button#menubtn.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
      i.material-icons(role='presentation') more_vert
      span.visuallyhidden show menu
.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--12-col
  .mdl-card__supporting-text.mdl-color-text--grey-500
    h3 Project
  .mdl-card__supporting-text.meta.mdl-color-text--grey-600
    | The project goal is to manage multiple quizzes without development maintenance.
    br
    | Every marketing member has been formed to the JSON structure (potentially using a web editor)
    | so that they're completely independent in the user data form creation.
    | The tool should therefore provide an automatic routing system and the form of free insertion into production or action of a developer.
  .mdl-card__supporting-text.meta.mdl-color-text--grey-600
    | Active member of this project’s team I’m linked to, I was responsible of front-end development.
    | Coding modern HTML5, Sass, Javascript web application with web component logic.
.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--12-col
  .mdl-card__supporting-text.mdl-color-text--grey-500
    h3 Challenge
  .mdl-card__supporting-text.mdl-color-text--grey-600
    | Some attempts have been made to try to determine our customers and how to provide them adequate products to their profile.
    | The main problem to retrieve data about users is that we should not propose too heavy format and provide the most entertaining and interactive experience.
    | The quiz was therefore the choosen solution.
.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--12-col
  .mdl-card__supporting-text.mdl-color-text--grey-500
    h3 Development
  .mdl-card__supporting-text.meta.mdl-color-text--grey-600
    ul.demo-list-three.mdl-list
      li.mdl-list__item.mdl-list__item--three-line
        span.mdl-list__item-primary-content
          i.material-icons.mdl-list__item-avatar code
          span Angular2
          span.mdl-list__item-text-body
            | Use of the RC6 version of angular2
      li.mdl-list__item.mdl-list__item--three-line
        span.mdl-list__item-primary-content
          i.material-icons.mdl-list__item-avatar code
          span Typescript
          span.mdl-list__item-text-body
            | Front app developed in Typescript using angular2 framework
      li.mdl-list__item.mdl-list__item--three-line
        span.mdl-list__item-primary-content
          i.material-icons.mdl-list__item-avatar code
          span Webpack
          span.mdl-list__item-text-body
            | Multi envrionment configuration to build (production) and serve (development)
.mdl-card.mdl-shadow--2dp.mdl-cell.mdl-cell--12-col
  .mdl-card__supporting-text.mdl-color-text--grey-500
    h3 UX Design
  .mdl-card__supporting-text.mdl-color-text--grey-600
    | UX Design is a major part of the development reflexion due to the criticality of the application.
    | Indeed, the application is used in a growth-business goal, for acquisition and fidelisation.
  .mdl-card__supporting-text.meta.mdl-color-text--grey-600
    i.material-icons(role='presentation') chevron_right
    div
      b Tools:
      span Sketchapp
      span Photoshop
