.btn {
  border-radius: 0; }

.btn-secondary {
  color: #FFF;
  border: none;
  background-color: #8ec1db;
  margin-bottom: 30px;
  text-align: left;
  padding: 16px;
  font-size: 1.571em;
}

.btn-secondary:hover {
  color: #FFF;
  background-color: #7bb6d5;
}

.selected-item,
.btn-secondary:focus,
.btn-secondary .focus {
  color: #FFF;
  background-color: #265c77;
}

.title-block {
    display: inline-block;
    margin-bottom: 30px;
    padding: 16px;
    color: #FFF;
    font-size: 1.571em;
    background-color: #000;
}

.form-control {
    border-color: #8ec1db;
}
